@page "{handler?}"
@model Astrow_2._0.Pages.AdminPage.DeleteUserModel
@{
    ViewData["Title"] = "Fjern | Page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="AdminPage">
    <button class="AdminNavBTN" id="AdminNavBTN">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
    </button>

    <div class="container">
        <div class="AdminNav">
            <div class="row upper-row" id="AdminNav">
                <a href="/AdminPage/Opret-Bruger" class="btn btn-lg btn-primary">
                    <i class="fas fa-plus-circle"></i> Opret bruger
                </a>
                <a href="/AdminPage/Opdater-Bruger" class="btn btn-lg btn-secondary">
                    <i class="fas fa-user-edit"></i> Opdater bruger
                </a>
                <a href="/AdminPage/Opdater-Timekort" class="btn btn-lg btn-secondary">
                    <i class="fas fa-user-clock"></i> Opdater Timekort
                </a>
                <a href="/AdminPage/Brugere" class="btn btn-lg btn-secondary">
                    <i class="fas fa-users"></i> Brugere
                </a>
            </div>
        </div>
        <p class="display-3">Brugere</p>

        <div class="container lower-container DeleteUser">
            <div class="row col-row">
                <div class="box">
                    <h3>Bruger</h3>
                </div>

                @foreach (Model.Containers.PersonalInfo user in Model.People)
                {
                    <form method="post">
                        <div class="row col-row">

                            <div class="col-6 Delete-Col">
                                <label class="UserLabel">@user.FirstName @user.MiddleName @user.LastName</label>
                            </div>

                            <div class="col-6 Delete-Col">
                                <input asp-for="ID" value="@user.ID" hidden />
                                <input type="submit" class="btn btn-danger col-4" id="DeleteBtn" value="Slet" onclick="return confirm('Are you sure you want to delete this?')" />
                                <input type="submit" class="btn btn-warning" id="SickNoticeBtn" value="Fravære" onclick="return confirm('Are you sure you want to delete this?')" />
                                <input type="submit" class="btn btn-danger" id="SickNoticeBtn" value="Ulovlig Fravære" onclick="return confirm('Are you sure you want to delete this?')" />
                            </div>

                        </div>
                    </form>
                }
            </div>

            <script type="text/javascript">
                $('#DeleteBtn').click(function() {
                    alert("@ViewData["Message"]");
                };
            </script>

            <script type="text/javascript">
                //Make Admin Nav apper and disapper, Magic!
                    $('#AdminNavBTN').click(function() {
                        $('#AdminNav').toggleClass("show")
                    });
            </script>
        </div>
    </div>
</div>

