@page "{handler?}"
@model Astrow_2._0.Pages.AdminPage.UpdateTimeCardModel
@{
    ViewData["Title"] = "Timekort | Page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<form asp-page-handler="User" method="post">
    <div class="AdminPage">
        <button class="AdminNavBTN" id="AdminNavBTN">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>

        <div class="container">
            <div class="AdminNav">
                <div class="row upper-row" id="AdminNav">
                    <a href="/AdminPage/Opret-Bruger" class="btn btn-lg btn-primary">
                        <i class="fas fa-plus-circle"></i> Opret bruger
                    </a>
                    <a href="/AdminPage/Opdater-Bruger" class="btn btn-lg btn-secondary">
                        <i class="fas fa-user-edit"></i> Opdater bruger
                    </a>
                    <a href="/AdminPage/Opdater-Timekort" class="btn btn-lg btn-secondary">
                        <i class="fas fa-user-clock"></i> Opdater Timekort
                    </a>
                    <a href="/AdminPage/Brugere" class="btn btn-lg btn-secondary">
                        <i class="fas fa-users"></i> Brugere
                    </a>
                </div>
            </div>
            <div class="container lower-container OpdateTimeCard">
                <div class="row col-row">
                    <div class="col-3 UserTimeUpdate">
                        <label>User</label> <br />
                        <div class="dropdown">
                            <button class="btn btn-p dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Users
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @foreach (Model.Containers.Users user in Model.UserList)
                                {
                                    @*Dropdown with every user*@
                                    <form asp-page-handler="User" method="post">
                                        <input asp-for="ID" value="@user.User_ID" hidden />
                                        <input class="dropdown-item" type="submit" asp-page-handler="User" id="usernbtn" value="@user.UserName" />
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row col-row">
                    <div class="row col-6 DateTimeUpdate">
                        <label>Date</label> <br />

                        @if (Model.DateBool == true)
                        {
                            <input id="Calendar" value="@Model.CalenderValue" type="date" name="Calendar" class="form-control" min="@Model.StartDay" max="@Model.EndDay" oninvalid="this.setCustomValidity('Vælge en dato')" oninput="this.setCustomValidity('')" required />
                            <input type="submit" asp-page-handler="Load" id="SubmitBTN" value="Choose" class="btn btn-primary" style="width: min-content;" />
                        }
                        else
                        {
                            <input id="Calendar" value="@Model.CalenderValue" type="date" name="Calendar" class="form-control" min="@Model.StartDay" max="@Model.EndDay" oninvalid="this.setCustomValidity('Vælge en dato')" oninput="this.setCustomValidity('')" required disabled />
                            <input type="submit" asp-page-handler="Load" id="SubmitBTN" value="Choose" class="btn btn-primary" style="width: min-content;" disabled />
                        }
                    </div>

                </div>


                @if (Model.TimeBool == true)
                {
                    <div class="row col-row">
                        <div class="row col-6 OpdaterTimeCardRow">
                            <label>Start dag tid</label> <br />
                            <input class="HourClock" type="time" name="StartHour" value="@Model.StartHour" asp-for="StartHour">
                        </div>


                        <div class="row col-6 OpdaterTimeCardRow">
                            <label>Slut dag tid</label> <br />
                            <input class="HourClock" id="HourClock" type="time" name="EndHour" value="@Model.EndHour" asp-for="EndHour">
                        </div>
                    </div>
                }
                else
                {
                    <div class="row col-row">
                        <div class="row col-6 OpdaterTimeCardRow">
                            <label>Start dag tid</label> <br />
                            <input class="HourClock" type="time" name="StartHour" value="@Model.StartHour" asp-for="StartHour" disabled>
                        </div>


                        <div class="row col-6 OpdaterTimeCardRow">
                            <label>Slut dag tid</label> <br />
                            <input class="HourClock" id="HourClock" type="time" name="EndHour" value="@Model.EndHour" asp-for="EndHour" disabled>
                        </div>
                    </div>
                }


                <div class="row col-row">
                    <div class="row col-12 OpdaterTimeCardRow">
                        <p class="AbOptions" id="AbOptions" style="font-size: 20px;">+</p>
                        <p class="AbOptions"> Absence</p>

                        <div class="AbsenceOptions">
                            <div class="AbsHide AbsHidden">
                                <label>Fravær Grund</label> <br />
                                @if (Model.TimeBool == true)
                                {
                                    <textarea type="text" class="form-control AbsenceText" name="AbscenseText" value="@Model.AbscenseText" asp-for="AbscenseText"></textarea>
                                }
                                else
                                {
                                    <textarea type="text" class="form-control AbsenceText" name="AbscenseText" value="@Model.AbscenseText" asp-for="AbscenseText" disabled></textarea>
                                }

                                @if (Model.TimeBool == true)
                                {
                                    <select class="form-control AbscenseTypeDrop" name="AbsenceType" asp-for="AbsenceType" id="AbscenseDrop">
                                        @{
                                            foreach (Model.Items.AbscenseType type in Model.AbscenseType)
                                            {
                                                <option value="@type.ID">@type.Type</option>
                                            }
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select class="form-control AbscenseTypeDrop" name="AbsenceType" asp-for="AbsenceType" id="AbscenseDrop" disabled></select>
                                }
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row submit-row">
                    @if (Model.TimeBool == true)
                    {
                        <input value="Submit" id="SubmitButton" type="submit" asp-page-handler="Submit" class="btn btn-lg btn-primary" />
                    }
                    else
                    {
                        <input value="Submit" id="SubmitButton" type="submit" asp-page-handler="Submit" class="btn btn-lg btn-primary" disabled />
                    }

                </div>

            </div>
        </div>
    </div>


    <script type="text/javascript">
        $('#SubmitBTN').click(function(){
            document.getElementById('SubmitButton').disabled = false;
            document.getElementById('HourClock').disabled = false;
            document.getElementById('Calendar').disabled = false;
            document.getElementById('SubmitBTN').disabled = false;
        });

        $('.AbOptions').click(function() {

            if(document.getElementById('AbOptions').innerText == "-")
            {
                document.getElementById('AbOptions').innerText = "+";
                $('#AbOptions').toggleClass("Minnus");
                $('.AbsHide').toggleClass('AbsHidden');
            }
            else
            {
                document.getElementById('AbOptions').innerText = "-";
                $('#AbOptions').toggleClass("Minnus");
                $('.AbsHide').toggleClass('AbsHidden');
            }
        });


        //Make Admin Nav apper and disapper, Magic!
        $('#AdminNavBTN').click(function() {
            $('#AdminNav').toggleClass("show")
        });
    </script>



</form>