@page "{handler?}"
@model Astrow_2._0.Pages.AdminPage.CreateUsersModel
@{
    ViewData["Title"] = "Opret | Page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="AdminPage">
    <button class="AdminNavBTN" id="AdminNavBTN">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
    </button>

    <div class="container">
        <div class="AdminNav" style="margin-left: 1.6rem;">
            <div class="row upper-row" id="AdminNav">
                <a href="/AdminPage/Opret-Bruger" class="btn btn-lg btn-primary">
                    <i class="fas fa-plus-circle"></i> Opret bruger
                </a>
                <a href="/AdminPage/Opdater-Bruger" class="btn btn-lg btn-secondary">
                    <i class="fas fa-user-edit"></i> Opdater bruger
                </a>
                <a href="/AdminPage/Opdater-Timekort" class="btn btn-lg btn-secondary">
                    <i class="fas fa-user-clock"></i> Opdater Timekort
                </a>
                <a href="/AdminPage/Brugere" class="btn btn-lg btn-secondary">
                    <i class="fas fa-users"></i> Brugere
                </a>
            </div>
        </div>
        <div class="container lower-container CreateUser">
            <form method="post">
                <div class="row col-row createRow">
                    <div class="col-4">
                        <label>Fornavn</label> <br />

                        <input value="@Model.FirstNameVal" autocomplete="off" maxlength="15" required asp-for="FirstName" id="FirstName" type="text" placeholder="Fornavn" class="form-control" oninvalid="this.setCustomValidity('Skriv fornavn her\n*Max 15 karakter')" oninput="this.setCustomValidity('')" />
                        <span asp-validation-for="FirstName" class="CreateUserError"></span>
                    </div>

                    <div class="col-4">
                        <label>Mellemnavn</label> <br />

                        <input value="@Model.MiddleNameVal" autocomplete="off" maxlength="15" asp-for="MiddleName" id="MiddleName" type="text" placeholder="Mellemnavn" class="form-control" />
                        <span asp-validation-for="MiddleName" class="CreateUserError"></span>
                    </div>

                    <div class="col-4">
                        <label>Efternavn</label> <br />

                        <input value="@Model.LastNameVal" autocomplete="off" maxlength="15" required asp-for="LastName" id="LastName" type="text" placeholder="Efternavn" class="form-control" oninvalid="this.setCustomValidity('Skriv efternavn her\n*Max 15 karakter')" oninput="this.setCustomValidity('')" />
                        <span asp-validation-for="LastName" class="CreateUserError"></span>
                    </div>
                </div>

                <div class="row col-row">
                    <div class="col-6">
                        <label>Brugernavn</label> <br />

                        <input value="@Model.UserNameVal" autocomplete="off" maxlength="15" required asp-for="UserName" id="UserName" type="text" placeholder="Brugernavn" class="form-control" oninvalid="this.setCustomValidity('Skriv brugernavn her\nMax 15 karakter')" oninput="this.setCustomValidity('')" />
                        <span asp-validation-for="UserName" class="CreateUserError"></span>
                    </div>

                    <div class="col-6">
                        <label>Kodeord</label> <br />

                        <input autocomplete="off" required asp-for="Password" id="Password" type="password" placeholder="Kodeord" autocomplete="off" class="form-control" oninvalid="this.setCustomValidity('Skriv kodeord her')" oninput="this.setCustomValidity('')" />
                        <span asp-validation-for="Password" class="CreateUserError"></span>
                    </div>
                </div>

                <div class="row col-row">
                    <div class="col-6">
                        <label>Start Dato</label> <br />

                        <input value="@Model.StartVal" asp-for="StartDate" required id="StartDate" type="date" autocomplete="off" class="form-control" oninvalid="this.setCustomValidity('Skriv start dato her')" oninput="this.setCustomValidity('')" />
                        <span asp-validation-for="StartDate" class="CreateUserError"></span>
                    </div>

                    <div class="col-6">
                        <label>Slut Dato</label> <br />

                        <input value="@Model.EndVal" asp-for="EndDate" required id="EndDate" type="date" autocomplete="off" class="form-control" oninvalid="this.setCustomValidity('Skriv slut dato her')" oninput="this.setCustomValidity('')" />
                        <span asp-validation-for="EndDate" class="CreateUserError"></span>
                    </div>

                    <div class="row col-row">
                        <div class="col-12">
                            <label>Rolle</label> <br />

                            <select name="Role" asp-for="Role" id="Role" class="form-control">
                                <option value="Elev">Elev</option>
                                <option value="Instructør">Instructør</option>
                            </select>
                            <span asp-validation-for="Role" class="CreateUserError"></span>

                        </div>
                    </div>
                </div>

                <div class="row submit-row">
                    <input type="submit" id="SubmitUser" class="btn btn-lg btn-primary" value="Submit" />
                </div>

                @*Endate validator*@
                <script type="text/javascript">
                        $("#EndDate").change(function () {
                        var startDate = document.getElementById("StartDate").value;
                        var endDate = document.getElementById("EndDate").value;

                        if ((Date.parse(endDate) <= Date.parse(startDate))) {
                            alert("End date should be greater than Start date");
                            document.getElementById("EndDate").value = "";
                        }
                    });

                    $('#SubmitUser').click(function() {
                        alert('Bruger blev oprettet');
                        window.location.href='/AdminPage/Opdater-Bruger';
                    });

                    //Make Admin Nav apper and disapper, Magic!
                    $('#AdminNavBTN').click(function() {
                        $('#AdminNav').toggleClass("show")
                    });
                </script>

            </form>
        </div>
    </div>
</div>
