@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<form method="post">
    <div class="TimeCard">
        <div class="container outer">
            <div class="row">
                <p>Dato: </p>
                <div style="width:max-content;">

                    @*Datepicker*@
                    <input type="text" readonly autocomplete="off" id="Calendar" value="@Model.CalendarValue" asp-for="Calendar" class="form-control calendar" />

                    <div id="calendarBox">

                        @foreach (DateTime year in Model.Years)
                        {
                            <a onclick="DatePicker(@year.ToString("yyyy"))" href="#">@year.ToString("yyyy")</a>
                            <div id="@year.ToString("yyyy")" class="HideShow">

                                @*submits*@
                                <div class="row">
                                    <input asp-page-handler="Load" type="submit" onclick="MonthPicker('Januar')" value="Jan" />
                                    <input asp-page-handler="Load" type="submit" onclick="MonthPicker('Februar')" value="Feb" />
                                    <input asp-page-handler="Load" type="submit" onclick="MonthPicker('Marts')" value="Mar" />
                                </div>

                                <div class="row">
                                    <input asp-page-handler="Load" type="submit" onclick="MonthPicker('April')" value="Apr" />
                                    <input asp-page-handler="Load" type="submit" onclick="MonthPicker('Maj')" value="May" />
                                    <input asp-page-handler="Load" type="submit" onclick="MonthPicker('Juni')" value="Jun" />
                                </div>

                                <div class="row">
                                    <input asp-page-handler="Load" type="submit" onclick="MonthPicker('Juli')" value="Jul" />
                                    <input asp-page-handler="Load" type="submit" onclick="MonthPicker('August')" value="Aug" />
                                    <input asp-page-handler="Load" type="submit" onclick="MonthPicker('September')" value="Sep" />
                                </div>

                                <div class="row">
                                    <input asp-page-handler="Load" type="submit" onclick="MonthPicker('Oktober')" value="Oct" />
                                    <input asp-page-handler="Load" type="submit" onclick="MonthPicker('November')" value="Nov" />
                                    <input asp-page-handler="Load" type="submit" onclick="MonthPicker('December')" value="Dec" />
                                </div>





                            </div>
                        }
                    </div>
                </div>

                @*one month back | Now | one month front*@
                <button type="submit" asp-page-handler="Back">
                    <i style="font-size: 25px;" class="fas fa-chevron-circle-left"></i>
                </button>
                <button type="submit" asp-page-handler="Now">
                    <i style="font-size: 25px;" class="fas fa-play-circle"></i>
                </button>
                <button type="submit" asp-page-handler="Forward">
                    <i style="font-size: 25px;" class="fas fa-chevron-circle-right"></i>
                </button>
            </div>

            @*Date grid*@
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Day</th>
                        <th scope="col">Dato</th>
                        <th scope="col">Fravær</th>
                        <th scope="col">Login</th>
                        <th scope="col">Logud</th>
                        <th scope="col">TotFrv</th>
                        <th scope="col">Saldo</th>
                        <th scope="col">Saldo+</th>
                    </tr>
                </thead>
            </table>

            <div class="grid-container">
                <table class="table table-striped">
                    <tbody>
                        @{
                            bool trigger = false;

                            string strClass = "";

                            //If list of days, day match the date of days date show date i guss
                            foreach (DateTime day in Model.Days)
                            {
                                if(day.ToString("yyyy/MM/dd") == DateTime.Now.ToString("yyyy/MM/dd"))
                                {
                                    strClass = "ToDayClass";
                                }

                                if (Model.daysList.Count != 0)
                                {
                                    //Foreach day in day list
                                    foreach (Model.Items.Days date in Model.daysList)
                                    {
                                        //If day is equal to day from days lists
                                        if (date.Date.ToString("yyyy/MM/dd") == day.ToString("yyyy/MM/dd"))
                                        {
                                            //If date enday is equal too 00:00 load without end day
                                            if (date.EndDay.ToString("HH:mm") == "00:00")
                                            {
                                                <tr>
                                                    <th scope="row">@day.ToString("dddd")  </th>
                                                    <td class="@strClass">@day.ToString("yyyy-MM-dd")</td>
                                                    <td class="@strClass"></td>
                                                    <td class="@strClass">@date.StartDay.ToString("HH:mm")</td>
                                                    <td class="@strClass"></td>
                                                    <td class="@strClass">-7:24 </td>
                                                    <td class="@strClass">@date.TotalSaldo</td>
                                                </tr>

                                                strClass = "";

                                                trigger = true;
                                            }
                                            else
                                            {
                                                <tr>
                                                    <th scope="row">@day.ToString("dddd")  </th>
                                                    <td class="@strClass">@day.ToString("yyyy-MM-dd")</td>
                                                    <td class="@strClass"></td>
                                                    <td class="@strClass">@date.StartDay.ToString("HH:mm")</td>
                                                    <td class="@strClass">@date.EndDay.ToString("HH:mm")</td>
                                                    <td class="@strClass">@date.Saldo</td>
                                                    <td class="@strClass">@date.TotalSaldo</td>
                                                </tr>

                                                strClass = "";

                                                trigger = true;
                                            }
                                        }
                                    }

                                    //Need if too get rid of repets
                                    if (trigger == true)
                                    {
                                        trigger = false;
                                    }
                                    else if (day.ToString("dddd") == "lørdag" || day.ToString("dddd") == "søndag")
                                    {
                                        <tr>
                                            <th scope="row">@day.ToString("dddd")  </th>
                                            <td class="WeekdEnd @strClass">@day.ToString("yyyy-MM-dd")</td>
                                            <td class="WeekdEnd @strClass"></td>
                                            <td class="WeekdEnd @strClass"></td>
                                            <td class="WeekdEnd @strClass"></td>
                                            <td class="WeekdEnd @strClass"></td>
                                            <td class="WeekdEnd @strClass"></td>
                                        </tr>

                                        strClass = "";
                                    }
                                    else
                                    {
                                        <tr>
                                            <th scope="row">@day.ToString("dddd")  </th>
                                            <td  class="@strClass">@day.ToString("yyyy-MM-dd")</td>
                                            <td  class="@strClass"></td>
                                            <td  class="@strClass"></td>
                                            <td  class="@strClass"></td>
                                            <td  class="@strClass"></td>
                                            <td  class="@strClass"></td>
                                        </tr>

                                        strClass = "";
                                    }

                                }
                                else if (day.ToString("dddd") == "lørdag" || day.ToString("dddd") == "søndag")
                                {
                                    <tr>
                                        <th scope="row">@day.ToString("dddd")  </th>
                                        <td class="WeekdEnd @strClass">@day.ToString("yyyy-MM-dd")</td>
                                        <td class="WeekdEnd @strClass"></td>
                                        <td class="WeekdEnd @strClass"></td>
                                        <td class="WeekdEnd @strClass"></td>
                                        <td class="WeekdEnd @strClass"></td>
                                        <td class="WeekdEnd @strClass"></td>
                                    </tr>

                                    strClass = "";
                                }
                                else
                                {
                                    <tr>
                                        <th scope="row">@day.ToString("dddd")  </th>
                                        <td  class="@strClass">@day.ToString("yyyy-MM-dd")</td>
                                        <td  class="@strClass"></td>
                                        <td  class="@strClass"></td>
                                        <td  class="@strClass"></td>
                                        <td  class="@strClass"></td>
                                        <td  class="@strClass"></td>
                                    </tr>

                                    strClass = "";
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        var year;
        var month;



        //Show date picker years
        $('#Calendar').click(function() {
            $('#calendarBox').toggleClass("show")
        });


        //on click show month of choosen year
        function DatePicker(id) {
            if (document.getElementById(id).classList.contains("showDiv")) {
                document.getElementById(id).classList.remove("showDiv")
            }
            else {
                year = id;

                $(".showDiv").removeClass("showDiv")
                document.getElementById(id).classList.add("showDiv")

                $("#Calendar").val(id)
            }
        }

        //Change input value to new value
        function MonthPicker(month) {
            var date = month + " 1" + "," + year;
            $("#Calendar").val(date)
        }
    </script>
</form>