@page
@model IndexModel
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Home";
    Layout = "~/Pages/Shared/_Layout.cshtml";

    //Get start and end date of the user, for determining the min and max of the calendar input
    DateTime startTime = DateTime.Parse(HttpContext.Session.GetString("_StartDate"));
    DateTime endTime = DateTime.Parse(HttpContext.Session.GetString("_EndDate"));

    string startDate = startTime.ToString("yyyy-MM");
    string endDate = endTime.ToString("yyyy-MM");
}


<form method="post">
    <div class="TimeCard">
        <div class="container outer">
            <div class="row">
                <p>Dato: </p>
                <div style="width:max-content;">
                    <input id="Calendar" value="@Model.CalendarValue" type="month" name="Calendar" class="form-control" min="@startDate" max="@endDate" required />
                    <button type="submit" asp-page-handler="Load" class="submitBTN">
                        <i class="fas fa-check"></i> Submit
                    </button>
                </div>


                @*one month back | Now | one month front*@
                <button type="submit" asp-page-handler="Back">
                    <i style="font-size: 25px;" class="fas fa-chevron-circle-left"></i>
                </button>
                <button type="submit" asp-page-handler="Now">
                    <i style="font-size: 25px;" class="fas fa-play-circle"></i>
                </button>
                <button type="submit" asp-page-handler="Forward">
                    <i style="font-size: 25px;" class="fas fa-chevron-circle-right"></i>
                </button>


            </div>

            @*Date grid*@
            <div class="tableOverview">
                <table class="table">
                    <thead>
                        <tr style="border-top: solid 3px #00000000;">
                            <th scope="col">Day</th>
                            <th scope="col">Dato</th>
                            <th scope="col">Fravær</th>
                            <th scope="col">Login</th>
                            <th scope="col">Logud</th>
                            <th scope="col">TotFrv</th>
                            <th scope="col">Saldo</th>
                            <th scope="col">Saldo+</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            bool trigger = false;

                            string strClass = "";

                            //If list of days, day match the date of days date show date i guss
                            foreach (DateTime day in Model.Days)
                            {
                                if (day.ToString("yyyy/MM/dd") == DateTime.Now.ToString("yyyy/MM/dd"))
                                {
                                    strClass = "ToDayClass";
                                }

                                if (Model.daysList.Count != 0)
                                {
                                    //Foreach day in day list
                                    foreach (Model.Items.Days date in Model.daysList)
                                    {
                                        //If day is equal to day from days lists
                                        if (date.Date.ToString("yyyy/MM/dd") == day.ToString("yyyy/MM/dd"))
                                        {
                                            //If date enday is equal too 00:00 load without end day
                                            if (date.EndDay.ToString("HH:mm") == "00:00")
                                            {
                                                <tr>
                                                    <th scope="row">@day.ToString("dddd")  </th>
                                                    <td class="@strClass">@day.ToString("yyyy-MM-dd")</td>
                                                    <td class="@strClass"></td>
                                                    <td class="@strClass">@date.StartDay.ToString("HH:mm")</td>
                                                    <td class="@strClass"></td>
                                                    <td class="@strClass"></td>
                                                    <td class="@strClass">-7:24 </td>
                                                    <td class="@strClass">@date.TotalSaldo</td>
                                                </tr>

                                                strClass = "";

                                                trigger = true;
                                            }
                                            else
                                            {
                                                <tr>
                                                    <th scope="row">@day.ToString("dddd")  </th>
                                                    <td class="@strClass">@day.ToString("yyyy-MM-dd")</td>
                                                    <td class="@strClass"></td>
                                                    <td class="@strClass">@date.StartDay.ToString("HH:mm")</td>
                                                    <td class="@strClass">@date.EndDay.ToString("HH:mm")</td>
                                                    <td class="@strClass"></td>
                                                    <td class="@strClass">@date.Saldo</td>
                                                    <td class="@strClass">@date.TotalSaldo</td>
                                                </tr>

                                                strClass = "";

                                                trigger = true;
                                            }
                                        }
                                    }

                                    //Need if too get rid of repets
                                    if (trigger == true)
                                    {
                                        trigger = false;
                                    }
                                    else if (day.ToString("dddd") == "lørdag" || day.ToString("dddd") == "søndag")
                                    {
                                        <tr>
                                            <th scope="row">@day.ToString("dddd")  </th>
                                            <td class="WeekdEnd @strClass">@day.ToString("yyyy-MM-dd")</td>
                                            <td class="WeekdEnd @strClass"></td>
                                            <td class="WeekdEnd @strClass"></td>
                                            <td class="WeekdEnd @strClass"></td>
                                            <td class="WeekdEnd @strClass"></td>
                                            <td class="WeekdEnd @strClass"></td>
                                            <td class="WeekdEnd @strClass"></td>
                                        </tr>

                                        strClass = "";
                                    }
                                    else
                                    {
                                        <tr>
                                            <th scope="row">@day.ToString("dddd")  </th>
                                            <td class="@strClass">@day.ToString("yyyy-MM-dd")</td>
                                            <td class="@strClass"></td>
                                            <td class="@strClass"></td>
                                            <td class="@strClass"></td>
                                            <td class="@strClass"></td>
                                            <td class="@strClass"></td>
                                            <td class="@strClass"></td>
                                        </tr>

                                        strClass = "";
                                    }

                                }
                                else if (day.ToString("dddd") == "lørdag" || day.ToString("dddd") == "søndag")
                                {
                                    <tr>
                                        <th scope="row">@day.ToString("dddd")  </th>
                                        <td class="WeekdEnd @strClass">@day.ToString("yyyy-MM-dd")</td>
                                        <td class="WeekdEnd @strClass"></td>
                                        <td class="WeekdEnd @strClass"></td>
                                        <td class="WeekdEnd @strClass"></td>
                                        <td class="WeekdEnd @strClass"></td>
                                        <td class="WeekdEnd @strClass"></td>
                                        <td class="WeekdEnd @strClass"></td>
                                    </tr>

                                    strClass = "";
                                }
                                else
                                {
                                    <tr>
                                        <th scope="row">@day.ToString("dddd")  </th>
                                        <td class="@strClass">@day.ToString("yyyy-MM-dd")</td>
                                        <td class="@strClass"></td>
                                        <td class="@strClass"></td>
                                        <td class="@strClass"></td>
                                        <td class="@strClass"></td>
                                        <td class="@strClass"></td>
                                        <td class="@strClass"></td>
                                    </tr>

                                    strClass = "";
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>